@model RoleToReturnDto

<div class="my-3 form-group">
    <label asp-for="Id" style="color : whitesmoke"></label>
    <input asp-for="Id" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="Name" style="color : whitesmoke"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>

