@model UserToReturnDto

<div class="my-3 form-group">
    <label asp-for="UserName" style="color : whitesmoke"></label>
    <input asp-for="UserName" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="FirstName" style="color : whitesmoke"></label>
    <input asp-for="FirstName" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="LastName" style="color : whitesmoke"></label>
    <input asp-for="LastName" class="form-control" readonly />
<div class="my-3 form-group">
        <label asp-for="Email" style="color : whitesmoke"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>
