@model Employee
<div class="my-3 form-group">
    <label asp-for="Name" style="color : whitesmoke"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="Age" style="color : whitesmoke"></label>
    <input asp-for="Age" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="Email" style="color : whitesmoke"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="Address" style="color : whitesmoke"></label>
    <input asp-for="Address" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="Salary" style="color : whitesmoke"></label>
    <input asp-for="Salary" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="Phone" style="color : whitesmoke"></label>
    <input asp-for="Phone" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <input asp-for="IsActive" class="form-check" disabled />
    <label asp-for="IsActive" style="color : whitesmoke"></label>
</div>
<div class="my-3 form-group">
    <input asp-for="IsDeleted" class="form-check" disabled />
    <label asp-for="IsDeleted" style="color : whitesmoke"></label>
</div>
<div class="my-3 form-group">
    <label asp-for="HiringDate" style="color : whitesmoke"></label>
    <input asp-for="HiringDate" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="CreateAt" style="color : whitesmoke"></label>
    <input asp-for="CreateAt" class="form-control" readonly />
</div>
<div class="my-3 form-group">
    <label asp-for="Department" class="col-form-label" style="color : whitesmoke"></label>
    <input asp-for="Department.Name" class="form-control" readonly />
</div>